KUBE_LOGTOSTDERR="--logtostderr=true"
KUBE_LOG_LEVEL="--v={{ kube_log_level }}"
KUBELET_ADDRESS="--node-ip={{ kubelet_address }}"

{# Base kubelet args #}
{% set kubelet_args_base -%}
{# start kubeadm specific settings #}
--config={{ kube_config_dir }}/kubelet-config.yaml \
{# end kubeadm specific settings #}
--container-runtime=remote \
--container-runtime-endpoint=unix://{{ cri_socket }} \
--runtime-cgroups={{ kubelet_runtime_cgroups }} \
{% if kubeconfig_path != '' %}
--kubeconfig={{ kubeconfig_path }}
{% endif %}
{% endset %}

{# Kubelet node taints for gpu #}
{% if nvidia_gpu_nodes is defined and nvidia_accelerator_enabled|bool %}
{%   if inventory_hostname in nvidia_gpu_nodes and node_taints is defined %}
{%       set dummy = node_taints.append('nvidia.com/gpu=:NoSchedule') %}
{%   elif inventory_hostname in nvidia_gpu_nodes and node_taints is not defined %}
{%       set node_taints = [] %}
{%       set dummy = node_taints.append('nvidia.com/gpu=:NoSchedule') %}
{%   endif %}
{% endif %}

KUBELET_ARGS="{{ kubelet_args_base }}"
{% if kubelet_flexvolumes_plugins_dir is defined %}
KUBELET_VOLUME_PLUGIN="--volume-plugin-dir={{ kubelet_flexvolumes_plugins_dir }}"
{% endif %}
KUBELET_CLOUDPROVIDER=""

PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
