apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    component: kube-controller-manager
    tier: control-plane
  name: kube-controller-manager
  namespace: kube-system
spec:
  containers:
  - command:
    - kube-controller-manager
    - --allocate-node-cidrs=true
    - --authentication-kubeconfig={{ kubeconfig_path }}
    - --authorization-kubeconfig={{ kubeconfig_path }}
    - --bind-address=0.0.0.0
    - --client-ca-file=/etc/kubernetes/certs/ca.pem
    - --cluster-cidr={{ cluster_cidr }}
    - --cluster-name=k8s-shishqa-test
    - --cluster-signing-cert-file=/etc/kubernetes/certs/kubernetes.pem
    - --cluster-signing-key-file=/etc/kubernetes/certs/kubernetes-key.pem
    - --configure-cloud-routes=false
    - --controllers=*,bootstrapsigner,tokencleaner
    - --kubeconfig={{ kubeconfig_path }}
    - --leader-elect=true
    - --leader-elect-lease-duration=15s
    - --leader-elect-renew-deadline=10s
    - --node-cidr-mask-size=24
    - --node-monitor-grace-period=40s
    - --node-monitor-period=5s
    - --port=0
    - --profiling=False
    - --requestheader-client-ca-file=/etc/kubernetes/certs/kubernetes.pem
    - --root-ca-file=/etc/kubernetes/certs/ca.pem
    - --service-account-private-key-file=/etc/kubernetes/certs/kubernetes-key.pem
    - --service-cluster-ip-range={{ service_cidr }}
    - --terminated-pod-gc-threshold=12500
    - --use-service-account-credentials=true
    image: k8s.gcr.io/kube-controller-manager:{{ kube_version }}
    imagePullPolicy: IfNotPresent
    livenessProbe:
      failureThreshold: 8
      httpGet:
        path: /healthz
        port: 10257
        scheme: HTTPS
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    name: kube-controller-manager
    resources:
      requests:
        cpu: 200m
    startupProbe:
      failureThreshold: 30
      httpGet:
        path: /healthz
        port: 10257
        scheme: HTTPS
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /etc/ca-certificates
      name: etc-ca-certificates
      readOnly: true
    - mountPath: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
      name: flexvolume-dir
    - mountPath: /etc/kubernetes/certs
      name: k8s-certs
      readOnly: true
    - mountPath: {{ kubeconfig_path }}
      name: kubeconfig
      readOnly: true
    - mountPath: /usr/local/share/ca-certificates
      name: usr-local-share-ca-certificates
      readOnly: true
    - mountPath: /usr/share/ca-certificates
      name: usr-share-ca-certificates
      readOnly: true
  hostNetwork: true
  priorityClassName: system-node-critical
  volumes:
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs
  - hostPath:
      path: /etc/ca-certificates
      type: DirectoryOrCreate
    name: etc-ca-certificates
  - hostPath:
      path: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
      type: DirectoryOrCreate
    name: flexvolume-dir
  - hostPath:
      path: /etc/kubernetes/certs
      type: DirectoryOrCreate
    name: k8s-certs
  - hostPath:
      path: {{ kubeconfig_path }}
      type: FileOrCreate
    name: kubeconfig
  - hostPath:
      path: /usr/local/share/ca-certificates
      type: DirectoryOrCreate
    name: usr-local-share-ca-certificates
  - hostPath:
      path: /usr/share/ca-certificates
      type: DirectoryOrCreate
    name: usr-share-ca-certificates
status: {}
